.splash-screen {
  position: relative;
  z-index: 1200;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
}

.splash-screen.show {
  display: flex;
}

.splash-screen--loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.splash-screen--image {
  height: 40px;
  margin-bottom: 20px;
}

.splash-screen--image img {
  width: auto;
  height: 100%;
}

.splash-screen--text {
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.splash-screen--text::after {
  content: '';
  animation: loading 2s infinite;
}

@keyframes loading {
  0%   { 
    content: ' ';
  }
  25%  {
    content: ' .';
  }
  75%  {
    content: ' ..';
  }
  100% {
    content: ' ...';
  }
}
